<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="PathMysqlDump" value ="C:\wamp\bin\mysql\mysql5.6.17\bin\" />
    <add key="PathUsbDatabase" value ="C:\Users\Diego\Desktop\database\" />
    <add key="PrinterName" value ="Microsoft XPS Document Writer" />
  </appSettings>

</configuration>